import React from 'react';
import { Box } from '@components/molecules/Box';
import { Typography } from '@components/molecules/Typography';
import { useTheme } from '@hooks/index';
import { RouteProp, useNavigation, useRoute } from '@react-navigation/core';
import { NativeStackNavigationProp } from '@react-navigation/native-stack';
import { CommonStackParamList } from '@screens/index';
import { SafeAreaView } from 'react-native-safe-area-context';
import Style from './Style';

type {{pascalCase name}}ScreenNavigationProp = NativeStackNavigationProp<CommonStackParamList,
  '{{pascalCase name}}'
>;

type {{pascalCase name}}ScreenRouteProp = RouteProp<CommonStackParamList, '{{pascalCase name}}'>;

const {{pascalCase name}}Screen = () => {
  const navigation = useNavigation<{{pascalCase name}}ScreenNavigationProp>();
  const route = useRoute<{{pascalCase name}}ScreenRouteProp>();
  const theme = useTheme();

  return (
    <SafeAreaView>
      <Box alignItems="center" justifyContent="center" flex={1}>
        <Typography>{{pascalCase name}}</Typography>
        <Button onPress={() => {
          navigation.goBack();
          }}>
          <Typography>Back {{pascalCase name}}</Typography>
        </Button>
      </Box>
    </SafeAreaView>
  );
};

export default {{pascalCase name}}Screen;